[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggfan"]
	path = ggfan
	url = https://github.com/jasonhilton/ggfan
	shallow = true
	registered = true
